
<div id="container">

  <form action='/listings/<%= @listing_id %>/enquiry' method="post">
    <input type="text" name="body"/>
    <input type="text" name="subject_line"/>
    <input type="submit" value="Submit"/>
  </form>

</div>
