
<div id="container">
  <h1>Add new listing</h1>
  <form action="/listings" method="post">
    <input type="text" name="name" placeholder="Name of Place (max 60 characters)"/>
    <input type="text" name="description" placeholder="Tell us about your listing...(max 280 characters)"/>
    <input type="text" name="price" placeholder="PPN"/>
    <input type="submit" value="Submit"/>
  </form>
</div>
