 <!-- <p> House of Horrors A very scary house 69.85 </p> -->
<div class="container">
  <h1> <%= @listing.name %></h1>
    <p>
      <%= @listing.description %>
    </p>
    <p>
      <%= @listing.price %>
    </p>

      <img src="<%  %>" alt="">
</div>
