<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <h1>Welcome to MakersBnB</h1>

    <p>
      <ul>
        <li>Test house: This is a test house, ppn: £50.</li>
        <li>Test another house: This is another test house, ppn: £45.</li>
      </ul>
    </p>
  </div>
</body>
</html>
