<h3>Please select dates below for...</h3>

<form action='/<%= @listing_id %>/store_booking' method="post">
  <label> From:
<input type="date" name="book_from" />
</label>
<label> To:
<input type="date" name="book_to" />
</label>
<input type="submit" name="Submit"/>
</form>
