<div class="container">
  <h2>
    <%= flash[:notice] %>
  </h2>
  <h1>Sign In</h1>
  <form action="/sessions" method="post">
    <label for="username">Username
      <input type="text" name="username" value="" placeholder="username" required>
    </label>
    <label for="password">Password
      <input type="password" name="password" value="" placeholder="password" required>
    </label>
    <input type="submit" name="" value="Sign In">
  </form>
</div>
