<h1>Account Info</h1>

<p>'username'</p>
<p>'email@email.com'</p>
<p>'Village House'</p>
<p>'Lovely cottage in the countryside'</p>
<img src="https://live.staticflickr.com/4159/33385628794_b912df519b_m.jpg" alt="">
